google-cloud-aiplatform==1.97.0
google-cloud-videointelligence==2.16.1
google-cloud-storage==2.19.0
moviepy==1.0.3
google-api-python-client==2.172.0
pandas==2.3.0
pyarrow==20.0.0
fastapi==0.111.0
uvicorn==0.29.0